<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.staylog.domain.accommodation.mapper.RoomMapper">

	
	<select id="selectRoomDetailById" parameterType="long" resultType="com.staylog.staylog.domain.accommodation.dto.response.RoomDetailResponse">
		SELECT
		room_id AS roomId, accommodation_id AS accommodationId, name, rm_type AS type,
		price, max_adult AS maxAdult , max_children AS maxChildren, max_infant AS maxInfant,
		TO_CHAR(check_in, 'HH24:MI') AS checkIn,
		TO_CHAR(check_out, 'HH24:MI') AS checkOut,
		status, area, single_bed AS singleBed,
		double_bed AS doubleBed, queen_bed AS queenBed,
		king_bed AS kingBed
		FROM ROOM r
		JOIN COMMON_CODE cc ON r.rm_type = cc.code_id 
		WHERE room_id = #{roomId} AND r.deleted_yn = 'N'
		
		 
	</select>
</mapper>
