<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.staylog.domain.board.mapper.CommentsMapper">



    <!--  해당 게시글 댓글 목록 조회 (삭제된 댓글은 표시X)  -->
    <select id="getByBoardId" parameterType="long" resultType="CommentsDto">
        SELECT c.comment_id, c.board_type, c.board_id, c.user_id, c.parent_id, 
        		c.content, c.created_at, c.updated_at, c.deleted,
        		u.nickname,
			u.profile_image AS profileImage
        FROM comments c
        JOIN users u ON c.user_id = u.user_id
        WHERE board_id = #{boardId}
        AND deleted = 'N'
        ORDER BY c.parent_id ASC, c.created_at ASC
    </select>

    <!--  댓글 수정  -->
    <update id="update" parameterType="CommentsDto">
        UPDATE comments
        SET content = #{content},
        updated_at = SYSDATE
        WHERE comment_id = #{commentId}
    </update>
    
    
    <!--  댓글 삭제  -->
    <delete id="delete" parameterType="CommentsDto">
        UPDATE comments
        SET updated_at = SYSDATE,
        deleted = 'Y'
        WHERE comment_id = #{commentId}
    </delete>
    
    <!--  댓글 등록  -->
    <insert id="insert" parameterType="CommentsDto" useGeneratedKeys="true" keyProperty="commentId">
		<selectKey keyProperty="commentId" resultType="long" order="BEFORE">
			SELECT seq_comments_id.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO comments
		(comment_id, board_type, board_id, user_id, parent_id, content, created_at, deleted)
		VALUES ( 
			#{commentId}, 'BOARD_REVIEW', #{boardId}, #{userId},
			<choose>
				<when test="parentId != null">#{parentId}</when>
				<otherwise>#{commentId}</otherwise>
			</choose>,
	        #{content}, SYSDATE, 'N'
		)
	</insert>

    <!-- 댓글 하나의 정보 가져오기 -->
    <select id="getOneByCommentId" parameterType="long" resultType="CommentsDto">
        SELECT *
        FROM comments
        WHERE comment_id = #{commentId}
    </select>

<!-- 시퀀스 생성 comments

    CREATE SEQUENCE seq_comments_id
        START WITH 1
        INCREMENT BY 1;

-->


<!-- 테이블 생성 comments

    CREATE TABLE comments (

        comment_id  NUMBER PRIMARY KEY,
        board_type	VARCHAR2(20)	NOT NULL,
        board_id	NUMBER	NOT NULL,
        user_id		NUMBER	NOT NULL,
        parent_id	NUMBER,
        content		CLOB	NOT NULL,
        created_at	TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
        updated_at	TIMESTAMP DEFAULT SYSTIMESTAMP,
        deleted		CHAR(1) DEFAULT 'N' NOT NULL CHECK (deleted IN ('Y', 'N'))

    );

-->


</mapper>

