<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.domain.auth.mapper.LikesMapper">


<!--  해당 게시글 좋아요 수 조회  -->

    <select id="countByTargetId" parameterType="long" resultType="int">
        SELECT count(*) AS likes_count
        FROM likes
        WHERE target_id = #{target_id}

    </select>

<!--  해당 게시글 좋아요 목록 조회  -->

    <select id="getByTargetId" parameterType="long" resultType="LikesDto">
        SELECT like_id, board_type, user_id, target_id
        FROM likes
        WHERE target_id = #{target_id}
        ORDER BY like_id DESC
    </select>


<!--  좋아요 취소  -->

    <delete id="delete" parameterType="long">
        DELETE FROM likes
        WHERE like_id = #{like_id}
    </delete>


<!--  좋아요 등록  -->

    <insert id="insert" parameterType="likesDto">
        <selectKey keyProperty="like_id" resultType="long" order="BEFORE">
            SELECT seq_likes_id.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO likes
        (like_id, board_type, user_id, target_id)
        VALUES (
            #{like_id},
            #{board_type},
            #{user_id},
            #{target_id}
        )
    </insert>



<!-- 시퀀스 생성 likes
    ![CDATA[<

    CREATE SEQUENCE seq_likes_id
        START WITH 1
        INCREMENT BY 1;

    ]]>
-->


<!-- 테이블 생성 likes
    ![CDATA[<

    CREATE TABLE likes (

        like_id		NUMBER	PRIMARY KEY,
        board_type	VARCHAR2(20)	NOT NULL,
        board_id	NUMBER	NOT NULL,
        user_id		NUMBER	NOT NULL,
        CONSTRAINT uq_likes_user_target UNIQUE (user_id, board_id)

    );

    ]]>
-->

</mapper>
