<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.staylog.domain.admin.room.mapper.AdminRoomMapper">

	<!-- 숙소별 객실 목록 조회 -->
	<select id="selectRoomListByAccommodation" parameterType="AdminRoomSearchRequest" resultType="AdminRoomDetailResponse">
		SELECT *
	    FROM (
		    SELECT t.*, ROWNUM AS rn
			FROM (
			    SELECT
			    	r.accommodation_id,
			    	a.name AS accommodationName,
			        r.room_id,
			        r.name,
			        r.rm_type,
			        ct.code_name AS typeName,
			        r.price,
			        r.max_adult,
			        r.deleted_yn,
			        TO_CHAR(r.created_at, 'YYYY-MM-DD"T"HH24:MI:SS') AS createdAt
			    FROM room r
			    LEFT JOIN common_code ct ON ct.code_id = r.rm_type AND ct.use_yn = 'Y'
			    LEFT JOIN accommodation a ON a.accommodation_id = r.accommodation_id
			    <where>
			    	r.accommodation_id = #{accommodationId}
		            <if test="rmType != null and rmType != ''">
		            	AND r.rm_type = #{rmType}
		        	</if>
					<if test="keyword != null and keyword != ''">
			            AND r.name LIKE '%' || #{keyword} || '%'
			        </if>
		        	<if test="deletedYn != null and deletedYn != ''">
			           AND r.deleted_yn = #{deletedYn}
			        </if>
		        </where>
			    ORDER BY r.deleted_yn ASC, r.created_at DESC
			) t
		)
		WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 전체 게시글 수 조회 -->
	<select id="countRoomList" parameterType="AdminRoomSearchRequest" resultType="int">
	    SELECT COUNT(*)
	    FROM room r
	    LEFT JOIN common_code ct ON ct.code_id = r.rm_type AND ct.use_yn = 'Y'
	    LEFT JOIN accommodation a ON a.accommodation_id = r.accommodation_id
	    <where>
	    	r.accommodation_id = #{accommodationId}
            <if test="rmType != null and rmType != ''">
            	AND r.rm_type = #{rmType}
        	</if>
			<if test="keyword != null and keyword != ''">
	            AND r.name LIKE '%' || #{keyword} || '%'
	        </if>
        	<if test="deletedYn != null and deletedYn != ''">
	           AND r.deleted_yn = #{deletedYn}
	        </if>
        </where>
	</select>

	<!-- 객실 상세 조회 -->
	<select id="selectRoomDetail" parameterType="long" resultType="AdminRoomDetailResponse">
	    SELECT
	    	r.accommodation_id,
	    	a.name AS accommodationName,
	        r.room_id,
	        r.name,
	        r.rm_type,
	        ct.code_name AS typeName,
	        r.price,
	        r.max_adult,
	        r.max_children,
	        r.max_infant,
	        TO_CHAR(r.check_in, 'HH24:MI') AS checkIn,
			TO_CHAR(r.check_out, 'HH24:MI') AS checkOut,
	        r.area,
	        r.deleted_yn,
	        r.single_bed,
	        r.double_bed,
	        r.queen_bed,
	        r.king_bed,
	        r.description,
	        TO_CHAR(r.created_at, 'YYYY-MM-DD"T"HH24:MI:SS') AS createdAt,
	        TO_CHAR(r.updated_at, 'YYYY-MM-DD"T"HH24:MI:SS') AS updatedAt
	    FROM room r
	    LEFT JOIN common_code ct ON ct.code_id = r.rm_type AND ct.use_yn = 'Y'
	    LEFT JOIN accommodation a ON a.accommodation_id = r.accommodation_id
	    WHERE r.room_id = #{roomId}
	</select>

	<!-- 객실 수정 -->
	<update id="updateRoom" parameterType="AdminRoomRequest">
		UPDATE room
	    SET name = #{name},
	        rm_type = #{rmType},
	        price = #{price},
	        max_adult = #{maxAdult},
	        max_children = #{maxChildren},
	        max_infant = #{maxInfant},
	        check_in = TO_TIMESTAMP(#{checkIn}, 'HH24:MI'),
	        check_out = TO_TIMESTAMP(#{checkOut}, 'HH24:MI'),
	        area = #{area},
	        single_bed = #{singleBed},
	        double_bed = #{doubleBed},
	        queen_bed = #{queenBed},
	        king_bed = #{kingBed},
	        updated_at = SYSTIMESTAMP
	    WHERE room_id = #{roomId}
	</update>
	
	<!-- 객실 논리 삭제/복원(상태전환) -->
	<update id="updateRoomStatus" parameterType="RoomUpdateStatusRequest">
	    UPDATE room
	    SET deleted_yn = #{deletedYn},
	        updated_at = SYSTIMESTAMP
	    WHERE room_id = #{roomId}
	</update>

	<!-- 객실 추가 -->
	<insert id="insertRoom" parameterType="AdminRoomRequest">
	    <selectKey keyProperty="roomId" resultType="long" order="BEFORE">
	        SELECT seq_room_id.NEXTVAL FROM DUAL
	    </selectKey>

	    INSERT INTO room (
	        room_id, accommodation_id, name, rm_type,
	        price, max_adult, max_children, max_infant,
	        check_in, check_out, area,
	        single_bed, double_bed, queen_bed, king_bed, description,
	        created_at
	    ) VALUES (
	        #{roomId}, #{accommodationId}, #{name}, #{rmType},
	        #{price}, #{maxAdult}, #{maxChildren}, #{maxInfant},
	        TO_TIMESTAMP(#{checkIn}, 'HH24:MI'),
	        TO_TIMESTAMP(#{checkOut}, 'HH24:MI'),
	        #{area},
	        #{singleBed}, #{doubleBed}, #{queenBed}, #{kingBed}, #{description}
	        SYSTIMESTAMP
	    )
	</insert>
</mapper>
