<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staylog.staylog.domain.common.mapper.SequenceMapper">
	<!-- 다음 시퀀스 값을 가져오는 쿼리 -->
	<select id="getNextVal" parameterType="string" resultType="long">
		SELECT ${sequenceName}.NEXTVAL FROM DUAL
	</select>
</mapper>